PUBLIC_MAPBOX_TOKEN=YOUR_MAPBOX_TOKEN
PUBLIC_MAPBOX_TOKEN_BACKUP=YOUR_BACKUP_MAPBOX_TOKEN
PUBLIC_W3W_API_KEY=YOUR_WHAT_THREE_WORDS_API_KEY
PUBLIC_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
# Caching tile proxy (https://github.com/Luen/map-tiles). Local: http://localhost:4009
PUBLIC_TILES_URL=https://tiles.wanderstories.space
